:root {
  --main-circle: rgb(190, 41, 41);
  --inside-circle: rgb(42, 78, 87);
}

html,
body {
  height: 100%;
  background-color: rgb(167, 50, 50);
  overflow: hidden;
}

div::selection, button::selection, .autor::selection {
  background: white;
  color: rgb(190, 41, 41);
}

@keyframes peek {
  0% {
  }

  50% {
    background-color: rgba(255, 255, 255, 0.384);
  }

  100% {
  }
}

.tree {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 12.500em;
  height: 12.500em;
  border-radius: 50%;
  background-color: var(--main-circle);
  animation: peek 1s;
  animation-delay: 1.5s;
}


.tree:hover {
  transition: 0.4s;
  background-position: 0, 100px 80px, 100px 80px, 100px 111.1111111111px, 100px 111.1111111111px, 100px 142.8571428571px, 100px 142.8571428571px, 100px 160px, 100px 160px;
  background-image: radial-gradient(circle at 50% 18%, yellow 3%, transparent 3.5%), linear-gradient(60deg, #7dae41 8%, transparent 8.5%), linear-gradient(-60deg, #79a83f 8%, transparent 8.5%), linear-gradient(60deg, #75a33d 10%, transparent 10.5%), linear-gradient(-60deg, #719d3b 10%, transparent 10.5%), linear-gradient(60deg, #6d9839 12%, transparent 12.5%), linear-gradient(-60deg, #699237 12%, transparent 12.5%), linear-gradient(80deg, #855726 5%, transparent 5.5%), linear-gradient(-80deg, #7f5324 5%, transparent 5.5%);
  background-color: var(--inside-circle);
}

@-webkit-keyframes snow {
  100% {
    background-position: 0px 200px, 0 200px, 0px 200px, 0px 200px;
  }
}

@keyframes snow {
  100% {
    background-position: 0px 200px, 0 200px, 0px 200px, 0px 200px;
  }
}


.reno {
  position: absolute;
  top: 50%;
  left: 80%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  width: 12.500em;
  height: 12.500em;
  background-color: var(--main-circle);
  animation: peek 1s;
  animation-delay: 2s;
}

.reno:hover {
  position: absolute;
  top: 50%;
  left: 80%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  background-color: var(--inside-circle);
  transition: 0.2s;
}


button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  width: 8.5em;
  height: 8.5em;
  border-radius: 50%;
  border-style: inherit;
  background-color: var(--main-circle);
  color: white;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

button:hover {
  background-color: white;
  color: var(--main-circle);
  transition: 0.5s;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


.feliz {
  position: absolute;
  top: 80%;
  left: 20%;
  right: 20%;
  margin-top: -100px;
  border-radius: 1em;
  background-color: var(--main-circle);
  height: 12em;
  color: white;
}

.feliztext {
  margin-top: 3em;
  margin-left: 5%;
  margin-right: 5%;
   margin-top: 3em;
  text-align: center;
  font-family: 'Montserrat',
  sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.autor {
  margin-bottom: .2em;
  text-align: center;
  opacity: .2;
  color: white;
}


.nieve {
  position: absolute;
  width: 200px;
  height: 200px;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: radial-gradient(circle at 30% 30%, #fff 1.5%, transparent 2.5%),
    radial-gradient(circle at 80% 70%, #fff 1.5%, transparent 2.5%),
    radial-gradient(circle at 30% 50%, #fff 1%, transparent 2%),
    radial-gradient(circle at 70% 85%, #fff 1%, transparent 2%);
  background-size: 100% 100%,
    100% 100%,
    50% 100%,
    50% 50%;
  background-position: 0 0,
    0 0,
    0 0,
    0 0;
  -webkit-animation: snow 6s linear infinite forwards;
  animation: snow 6s linear infinite forwards;
  opacity: 0;
}

.nieve:hover {
  transition: 0.4s;
  opacity: 1;
}

.veinticinco {
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  width: 12.500em;
  height: 12.500em;
  background-color: var(--main-circle);
  text-align: center;
  animation: peek 1s;
  animation-delay: 1s;
}

.veinticinco:hover {
  transition: 0.4s;
  background-color: var(--inside-circle);
  font-family: 'CoreCircus', sans-serif;
  color: #ffffff;
}

.veinticinco:hover:before {
  transition: 1s;
  content: "25th";
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4em;
  line-height: 3em;
  -webkit-animation: flicker 3s linear infinite;
  animation: flicker 3s linear infinite;
}


@-webkit-keyframes flicker {

  0% {
    opacity: 0;
  }

  19.999%,
  22%,
  62.999%,
  64% {
    opacity: .5;
  }

  64.999%,
  70%,
  100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }

  0%,
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {

  0% {
    opacity: 0;
  }

  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@font-face {
  font-family: 'CoreCircus2DDot1';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'CoreCircus';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}


/*
###############################################################################
###############################################################################
#################################### SNOW #####################################
###############################################################################
###############################################################################
*/

.winter-is-coming,
.snow {
  z-index: 100;
  pointer-events: none;
  border-radius: 60%;
}

.winter-is-coming-2,
.snow-2 {
  z-index: 100;
  pointer-events: none;
  border-radius: 2%;
}

.winter-is-coming {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 99%;
  width: 95%;
  max-width: 100%;
}

.winter-is-coming-2 {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 99%;
  width: 100%;
  max-width: 100%;
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: falling linear infinite both;
  animation: falling linear infinite both;
  -webkit-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}

.snow-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: falling linear infinite both;
  animation: falling linear infinite both;
  -webkit-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}

.snow--near {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  background-size: contain;
}

.snow--near+.snow--alt {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.snow--mid {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
  background-size: contain;
}

.snow--mid+.snow--alt {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.snow--far {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
  background-size: contain;
}

.snow--far+.snow--alt {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3D(-7.5%, -100%, 0);
    transform: translate3D(-7.5%, -100%, 0);
  }

  100% {
    -webkit-transform: translate3D(7.5%, 100%, 0);
    transform: translate3D(7.5%, 100%, 0);
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translate3D(-7.5%, -100%, 0);
    transform: translate3D(-7.5%, -100%, 0);
  }

  100% {
    -webkit-transform: translate3D(7.5%, 100%, 0);
    transform: translate3D(7.5%, 100%, 0);
  }
}
