.primary1 {
    background-color: #2A3D45;
    color: #fff;
}
.primary2 {
    background-color: #2A3D45;
    color: #fff;
}
.primary3 {
    background-color: #2A3D45;
    color: #fff;
}
.secondary1 {
    background-color: #2A3D45;
    color: #fff;
}
.secondary2 {
    background-color: #2A3D45;
    color: #fff;
}
.secondary3 {
    background-color: #2A3D45;
    color: #fff;
}
